.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    background: white;
    padding-bottom: 30px;
  }

  
  .intro {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: center; 
    margin: auto;
    background: white;
    padding-bottom: 30px;
  }
  
  .intro h1 {
    font-family: 'Jockey One', sans-serif;
    font-weight: 900;
    font-size: 40px;
    margin-right: 100px; 
    padding-right: 100px;
  }
  
  .intro img {
    max-width: 100%; 
    height: auto; 
  }
  

.post {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: auto;
    background: white;
    margin-top: 30px;
    border: 2px solid;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}

.postHeader {
    display: flex;
    flex-direction: column;
    background: white;
    margin-top: 30px;
    border: 1px solid;
    border-radius: 10px;
}

.post-title {
    display: flex;
    flex-direction: column;
    background: transparent;
    
}

.text-title {
    margin-top: 40px;
    font-size: 50px;
}

.deletePost {
    display: flex;
    flex-direction: column;
    background: white;
}

.picturePost {
    display: flex;
    flex-direction: column;
    background: white;
    border: 1px solid;
}

.postTextContainer {
    display: flex;
    flex-direction: column;
    background: white;
    border: 1px solid;
    margin: auto;
}

.authorName {
    display: flex;
    align-items: center;
    margin: auto;
    margin-left: 10px;
    padding: 10px;
}