*{
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  margin: 10px;
  text-align: center;
}

.nav {
  background-color: #2d72d2;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 30px;
  padding: 0 30px;
  font-size: 25px;
}

.title {
  font-size: 35px;
  margin: 3px;
}

.img-post {
  width: 45px;
  height: auto;
}

.img-box {
  width: 40px;
  height: auto;
}

.searchBox {
  width: 300px;
  margin-top: 13px;
}

.img-profile {
  width: 30px;
  height: auto;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 18px;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 2px;
}

.nav li:hover {
  background-color: #86aee5; 
}

.logoutButton {
  margin-top: 10px;
  color: white;
  border: none;
  background-color: transparent;
  font-size: 20px;
}