*{
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  margin: 10px;
  text-align: center;
  background: linear-gradient(to bottom, white, white);
}

.nav {
  background-color: #2d72d2;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 30px;
  padding: 0 30px;
  font-size: 25px;
  position: sticky;
  top: 0;
  z-index: 1000;
}


.title {
  font-size: 35px;
  margin: 10px 20px;
  display: flex;
  align-items: center;
  font-family: 'Jockey One', sans-serif;
  font-weight: 700;
}

.white-text {
  color: white;
  margin-right: 8px;
}

.red-text {
  color: #FF6B6C;
}

.img-post {
  width: 45px;
  height: auto;
}

.img-box {
  width: 40px;
  height: auto;
}

.searchBox {
  width: 300px;
  margin-top: 5.5px;
  border-radius: 15px;
  height: 30px;
  border: transparent;
  padding: 10px;
}


.img-profile {
  width: 30px;
  height: auto;
}

.nav li {
  transition: box-shadow 0.3s ease, border-radius 0.3s ease; /* Add both properties to the transition */
}

.nav .searchBox {
  box-shadow: none; /* Exclude box shadow for the search bar */
}

.nav ul {
  padding: 12px 23px;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 18px;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 2px;
}

.nav li:not(.searchBox):hover {
  box-shadow: inset 0px 60px 0px 0px #86aee5;
  border-radius: 8px;
}


.login-nav {
  font-family: 'Jockey One', sans-serif;
  font-weight: 700;
}

.logoutButton {
  margin-top: 8px;
  color: white;
  border: none;
  background-color: transparent;
  font-size: 20px;
  font-family: 'Jockey One', sans-serif;
  font-weight: 700;
}